
$secondary-color:#00ff55;
$primary-color:#7a7a71;

.dashboardContainer{

    .mainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 79.5vh;
        margin: 2em 0;
        gap: 1.5em;
        .SearchInput{
            padding: 1em;
            font-size: .8em;
            width: 40%;
            font-weight: 500;
            color: $primary-color;
            border: 1px solid $secondary-color;
            border-radius: 1em;

            &:focus{
                outline: none;
                
            }
        }
        .heading{
            color: grey;
            margin-top: 70px;
            p{
                font-size: 1.4em;
                font-weight: 700;

            }
        }
        .ProductTable{
            width: 70%;
            table-layout: fixed;
            // display: flex;
            // flex-direction: column;

            .tableHead ,.tableBody{
                list-style: none;
                display: flex;

                .item{
                    border: 1px solid $primary-color;
                    color: grey;
                    flex: 4;
                    font-size: 1em;
                    padding:.5em 1em;

                    &:first-child{
                        flex: 1;
                    }
                    
                }

            }
        }
    }
}