$primary-color:#7a7a71;
$font-color:#fff;
$secondary-color:#00ff55;
$background-color:#ccffff;

 
.loginContainer,.addProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: $background-color;

    .mainContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // height: calc(100% - 300px);
        width: 350px;
        gap: 1em;
        border-radius: .8em;
        background-color: $primary-color;
        color: $font-color;
        padding:1em 2em;


        .loginHead {
            text-align: center;
            font-size: 1.5em;
            font-weight: 600;
        }

        .loginForm ,.addProductFrom{
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            span{
                color: red;
                font-size: .8em;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }

            input {
                // width: 100%;
                padding: .8em;
                border-radius: .5em;
                border: none;
                width: 100%;
                border: 1px solid $secondary-color;
                &:focus{
                    outline: none;
                }
            }
            .loginBtn{
                border-radius: .8em;
                padding: .8em;
                width: 100%;
                background-color: $secondary-color;
                border: none;
                cursor: pointer;
                color: $font-color;
            }
        }
        .signupBottom{
            cursor: pointer;
            text-align: center;
        }

    }
}