$primary-color: #7a7a71;
.footerContainer{
    // height: 100px;
    width: 100%;
    background-color: $primary-color ;
    padding: 1em;
    text-align: center;
    p{
        font-size: 1em;
        font-weight: 500;
        // color: #fff;
    }
}